<nav class="navbar">
  <div class="logo">
    Tienda Angular
  </div>

  <div class="menu">
    <a routerLink="/inicio" routerLinkActive="activo">
      Inicio
    </a>

    <a routerLink="/productos" routerLinkActive="activo">
      Productos
    </a>

    <a routerLink="/registro" routerLinkActive="activo">
      Registro
    </a>

    <a routerLink="/estudiante" routerLinkActive="activo">
      Estudiante
    </a>

    <a routerLink="/calculopeso" routerLinkActive="activo">
      Cálculo Peso
    </a>
  </div>
</nav>